#root {
  margin: 0 auto;
}

h1 {
  font-family: monospace;
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(30, end), blink 1s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.container {
  border: solid green 2px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.cell-1 {
  border: solid green 2px;
  grid-column-start: 1;
  grid-column-end: 3;
}

.cell-2 {
  border: solid green 2px;
  grid-row: 2;
  grid-column: 1;
}

.cell-3 {
  border: solid green 2px;
  grid-row: 2;
  grid-column: 2;
}