.cards {
  display: flex;
}

.card {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: rgb(250, 248, 245);
  border-radius: 2em;
  color: black;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

img {
  width: 80px;
  height: 100px;
}

.image {
  grid-column: span 2 / span 2;
  align-self: center;
  justify-self: center;
}

.title {
  grid-row-start: 2;
}

.price {
  grid-row-start: 3;
  align-self: end;

}

.moreInfo {
  grid-row-start: 3;
  align-self: end;
  border-radius: 2px;
  padding: 10px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #fdeaac;
  cursor: pointer;
  transition: border-color 0.25s;
  border: transparent;
}
